.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
  display: none;
}

.visual-hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  /*margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;*/
}

b {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-weight: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.font, .site-nav .link, .site-contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.social-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1200px) {
  .section-no-padding {
    display: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*.main-nav {
    display: flex;
    text-align: center;
}*/
header {
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 80px;
  }
}

.main-nav {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  max-height: 80px;
}

@media screen and (max-width: 767px) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*
    margin-right: 0px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-bottom: 0;*/
}

div {
  display: block;
}

.web {
  color: #2196f3;
  text-decoration: none;
}

.studio {
  color: #000000;
  text-decoration: none;
}

.studiof {
  color: #ffffff;
  text-decoration: none;
}

.container {
  /*width: calc(100% - 30px);
  max-width: 1200px;*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  outline: 1px solid #2196f3;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1199px) {
  .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
  cursor: pointer;
}

.site-nav .items:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #212121;
}

.site-nav .link:hover {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
  position: relative;
}

.site-nav .link.current::before,
.site-nav .link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: #2196f3;
  -webkit-transform: translate();
          transform: translate();
}

@media screen and (max-width: 768px) {
  .site-contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-style: normal;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-contact-nav {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-contact .point {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact .point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact-nav .point:not(:last-child) {
    margin-right: 30px;
  }
}

/*
.site-contact .point {
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
 
}*/
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .site-contact-nav .point:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact .item + .item {
    margin-left: 30px;
  }
}

.site-contact .link {
  display: block;
  color: #757575;
  text-decoration: none;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact .link:hover, .site-contact .link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.icon-envelope {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
}

.icon-smartphone {
  height: 10px;
  width: 14.94px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .hero {
    position: relative;
    text-align: center;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header-mobile img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header-mobile img.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    position: relative;
    text-align: center;
    max-width: 768px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header-mobile img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header-mobile img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    position: relative;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header-tablet img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header-tablet img@2x.jpg");
  }
}

/*
.hero {
    background-image: image-set(
        url("../images/Header-mobile\ img.jpg") 1x,
        url("../images/Header-mobile\ img@2x.jpg") 2x,
        url("../images/Header-tablet\ img@2x.jpg") 800dpi
    );
}


.hero {
    background-image: url("../images/Header-mobile\ img.jpg");
}

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .hero {
            background-image: url("../images/Header-mobile\ img@2x.jpg");
        }
    }

    @media (-webkit-min-device-pixel-ratio: 6.25), (min-resolution: 600dpi) {
        .hero {
            background-image: url("../images/Header-tablet\ img@2x.jpg");
        }
    }

*/
.hero {
  background-image: url("../images/Header-mobile img.jpg");
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/Header-mobile img@2x.jpg");
  }
}

@media screen and (min-width: 489px) {
  .hero {
    background-image: url("../images/Header-tablet img.jpg");
  }
}

@media screen and (min-width: 489px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 489px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/Header-tablet img@2x.jpg");
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: url("../images/Header-tablet img.jpg");
  }
}

@media (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/Header-tablet img@2x.jpg");
  }
}

/*
    position: relative;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
    ),
    url("../images/Header\ img\ \(1\).jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
*/
.hero-container {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid #2196f3;
}

@media screen and (min-width: 480px) {
  .hero-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    width: 1200px;
  }
}

.hero-container {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .hero-container {
    padding: 200px 60px;
  }
}

.hero-title {
  font-size: 26px;
  line-height: 162%;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
  text-transform: uppercase;
  /*margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 30px;
    
    color: $secondary-text-color;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;*/
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 136%;
  }
}

.button {
  cursor: pointer;
  border: none;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.close-modal, .modal .button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 30px;
  min-height: 30px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.button-hero {
  cursor: pointer;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87%;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send {
  cursor: pointer;
  border: none;
  outline: transparent;
  padding: 0px 30px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  padding: 93px 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
  opacity: 1;
  -webkit-transform: translate(-50%, -5%) scale(1);
          transform: translate(-50%, -5%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
@media screen and (min-width: 480px) {
    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        width: 100%;
        max-width: 450px;
        height: 609px;
        padding: 15px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        width: 450px;
        height: 609px;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        width: 530px;
        height: 580px;
    }
}*/
.icon-close {
  width: 11px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: black;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:focus-within .icon-close, .modal .button:focus-within .icon-close,
.close-modal:hover .icon-close,
.modal .button:hover .icon-close {
  fill: #2196f3;
}

.modal b {
  display: inline-block;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: default;
}

.form-label {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-field {
  display: inline-block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-field:focus-within {
  border-color: #2196f3;
}

/*
.form-field
    &:focus-within {
    border-color: $accent-color;
    }

/*
.form-label:focus-within > .input-icon {
    fill: $accent-color;
    transform: translateY(-40px) translateX(-30px);
}


.form-label:focus-within > .label-name {
    color: $accent-color;
    transform: translateY(-40px) translateX(-30px);
}*/
.label-name {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within .label-name {
  color: #2196f3;
  -webkit-transform: translateY(-40px) translateX(-30px);
          transform: translateY(-40px) translateX(-30px);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within > .input-icon {
  fill: #2196f3;
  -webkit-transform: translateY(-40px) translateX(-30px);
          transform: translateY(-40px) translateX(-30px);
}

.comment-label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.comment-field {
  display: inline-block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
}

.comment-field:focus-within {
  border-color: #2196f3;
}

/*
.comment-label:focus-within > .comment-name {
    transform: translateY(-30px);
    color: $accent-color;
}*/
.comment-name {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 16px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label:focus-within > .comment-name {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  color: #2196f3;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.invisible {
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 0.75px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/icon check (1).svg");
  background-size: contain;
  background-origin: content-box;
  border-color: #2196f3;
  fill: #ffffff;
}

/*
.checkbox:checked + .checkbox-icon {
    background-color: $accent-color;
    background-image: url("../images/icon\ check\ \(1\).svg");
    background-size: contain;
    background-origin: content-box;
    border-color: $accent-color;
}*/
.checkbox-text {
  color: #757575;
}

.checkbox-text a {
  color: #2196f3;
}

.feature-list .title {
  /*margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;*/
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  /*text-align: left;*/
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feature-list {
  /*display: flex;
  @extend .list;*/
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4f5;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
}

/*.feature-list .item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list .item {
  margin-right: 30px;
}*/
@media screen and (min-width: 768px) {
  .feature-list .item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature-list .item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .feature-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

/*.feature-list .item {
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
}*/
.title-definition {
  padding-top: 10px;
  font-weight: 400;
  /*text-align: left;*/
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.product-thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
}

.product-thumb .title {
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.work-list .title {
  height: 70px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.title-definition {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.work-list .title {
  color: #ffffff;
}

.background-team {
  background-color: #f5f4f5;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    width: 50%;
  }
}

.team-item {
  /*padding-bottom: 24px;
    background-color: $secondary-text-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 1px 3px rgba(0, 0, 0, 0.12);*/
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

/*
.card {
    padding-bottom: 24px;
    background-color: $secondary-text-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 1px 3px rgba(0, 0, 0, 0.12);
    
}*/
/*.team-list .card { 
    &:not(:last-child) {
    margin-right: 30px;
    }
}*/
.name {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.speciality {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.container-network {
  padding-left: 32px;
  padding-right: 32px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social:hover, .team-social:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .client-logo {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-logo {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
        flex-basis: calc((100% - 2 * 30px) / 3);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-logo {
    -ms-flex-preferred-size: calc((100% - 5 * 30px) / 6);
        flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

@media screen and (max-width: 767px) {
  .client-logo:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-logo:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-logo:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .client-logo:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .client-logo:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.client-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  width: 100%;
  height: 90px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #AFB1B8;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-social:hover .client-icon,
.client-social:focus .client-icon {
  fill: #2196f3;
}

.client-icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:hover .client-icon .client-social, :focus .client-icon .client-social {
  fill: #2196f3;
}

.client-social:hover, .client-social:focus {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2F303A;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 480px) {
  .footer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1200px;
  }
}

.content-footer {
  padding: 60px 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
  }
}

/*display: flex;
    align-items: baseline;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 60px;
    padding-bottom: 21px;*/
.footer-address {
  font-style: normal;
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address {
    display: block;
  }
}

.container-port {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.address-list {
  display: block;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .address-list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-address {
    display: block;
  }
}

.location {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.71;
}

.location-item:not(:last-child) {
  padding-bottom: 9px;
}

.location-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.location-item .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-list {
  font-style: normal;
}

/*
.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    transition: color $timing-animation;
}*/
.join-container {
  margin: 60px 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .join-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 12px 94px 0px 69px;
  }
}

.social-net-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:nth-last-child(-n + 1)) {
  margin-right: 10px;
}

.social-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item .link {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net-footer .link:hover, .social-net-footer .link:focus {
  color: #2196f3;
}

.social-item:hover, .social-item:focus {
  background-color: #2196f3;
}

.social-item .link:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.sign-container {
  padding-top: 12px;
}

@media screen and (max-width: 1199px) {
  .email-forma {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.email-forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .subscribe-input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .subscribe-input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-input:focus-within {
  border-color: #2196f3;
}

.subscribe-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    outline: none;
  }
}

.email-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  position: relative;
}

.email-send .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  font-weight: bold;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #212121;
  -webkit-transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/*
.menu-button:focus {
    outline: transparent;
    fill: #2196f3;
} 
.menu-button--icon-menu:focus, 
.menu-button--icon-cross:focus {
    outline: transparent;
    fill: #2196f3;
}*/
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  outline: transparent;
  fill: #2196f3;
}

.menu-button.is-open .icon-menu {
  display: none;
  outline: transparent;
  fill: #2196f3;
}

.menu-container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  height: 393px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 144, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.mobile-menu .content {
    height: 100%;
    width: 70%;
    background-color: #000000;

    transform: translateX(-100%);
    transition: transform 250ms linear 250ms;
}

.mobile-menu.mobile-menu.is-open .content {
    transform: translateX(0);
}*/
/*# sourceMappingURL=main.css.map */