.location {
    color: $secondary-text-color;
    font-weight: 300;
    line-height: 1.71;
}

.location-item:not(:last-child) {
    padding-bottom: 9px;
}

.location-list .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.location-item .link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    transition: color $timing-animation;
}

.location-list {
    font-style: normal;
}

/*
.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    transition: color $timing-animation;
}*/