.logo {
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-family: $font-family-logo;
    transform: scale(1);
    transition: transform $timing-animation;
    

    /*
    margin-right: 0px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-bottom: 0;*/
}

div {
    display: block;
}

.web {
    color: $accent-color;
    text-decoration: none;
}

.studio {
    $color: #000000;
    color: $color;
    text-decoration: none;
}

.studiof {
    color: $secondary-text-color;
    text-decoration: none;
}