 .menu-button {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition-timing-function: $timing-animation;


    @media screen and (min-width: 768px) {
      display: none;  
    }
}

/*
.menu-button:focus {
    outline: transparent;
    fill: #2196f3;
} 
.menu-button--icon-menu:focus, 
.menu-button--icon-cross:focus {
    outline: transparent;
    fill: #2196f3;
}*/

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    /*display: none;*/
    display: block;
    outline: transparent;
    fill: $accent-color;
}

.menu-button.is-open .icon-menu {
    /*display: block;*/
    display: none;
    outline: transparent;
    fill: $accent-color;
}

.menu-container {
    background-color: $secondary-text-color;
    padding: 20px;
    text-align: center;
    font-size: 20px;

    @media screen and (max-width: 767px) {
        display: none;
        
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 393px;

        &.is-open {
            display: block;
      }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
  }