/*.main-nav {
    display: flex;
    text-align: center;
}*/

header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ececec;
    background-color: $secondary-text-color;
    z-index: 10;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    min-width: 100%;
}
