/*.main-nav {
    display: flex;
    text-align: center;
}*/

header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ececec;
    background-color: $secondary-text-color;
    z-index: 10;
}

.main-nav {
    padding: 0 15px;
    display: flex;
    align-items: center;
    min-height: 60px;
    max-height: 80px;
}

.main-nav {
    @media screen and (max-width: 767px) {
        justify-content: space-between;
        
    }
    
}
