.background-team {
    background-color: #f5f4f5;
}

.team-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.team-item {
    @media screen and  (min-width:768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 30px) / 4);
        margin-right: 30px;
    }

    padding-bottom: 24px;
    background-color: $secondary-text-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.team-item:not(:nth-child(2n)) {
    @media screen and (max-width: 1199px) and (min-width:768px) {
        margin-right: 30px;
    }
}

/*
.card {
    padding-bottom: 24px;
    background-color: $secondary-text-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 1px 3px rgba(0, 0, 0, 0.12);
    
}*/

/*.team-list .card { 
    &:not(:last-child) {
    margin-right: 30px;
    }
}*/

.name {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
    text-align: center;
}

.speciality {
    margin-top: 0;
    margin-bottom: 16px;

    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.container-network {
    padding-left: 32px;
    padding-right: 32px;
}

.social {
    display: flex;
    justify-content: center;
}

.social .item {
    &:not(:last-child) {
    margin-right: 10px;
    }
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8 ;

    transition: fill $timing-animation;
    background-color: $timing-animation;
}


.team-social {
    &:hover, &:focus {
    background-color: $accent-color;
    fill: $secondary-text-color;
    }
}